version: '3.8'

services:
  traefik:
    image: traefik:v2.5
    command:
      - "--api.insecure=${TRAEFIK_API_INSECURE}"
      - "--providers.docker=${TRAEFIK_PROVIDERS_DOCKER}"
      - "--entrypoints.web.address=${TRAEFIK_ENTRYPOINTS_WEB_ADDRESS}"
      - "--entrypoints.web.forwardedheaders.trustedips=${TRUSTED_IPS}"
      - "--entrypoints.web.forwardedheaders.insecure=true"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
    ports:
      - "${TRAEFIK_PORT}:80"
      - "${TRAEFIK_DASHBOARD_PORT}:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/dynamic.yml:/etc/traefik/dynamic/dynamic.yml:ro"
    networks:
      - chatbot_geolab_network
      - chatbot_pdfreader_network
      - chatbot_poverenik_network
      - portfolio-management-network
      - legalizacija_ai_network
      - chatbot_infocentar_rgz_network
      - chatbot_admin_network
      - chatbot_edu_rgz_network
    restart: unless-stopped

networks:
  chatbot_pdfreader_network:
    external: true
  chatbot_geolab_network:
    external: true
  chatbot_poverenik_network:
    external: true
  portfolio-management-network:
    external: true
  legalizacija_ai_network:
    external: true
  chatbot_infocentar_rgz_network:
    external: true
  chatbot_admin_network:
    external: true
  chatbot_edu_rgz_network:
    external: true
